**1. What are data structures, and why are they important?**
- Way of storing data and organizing it effeciently so that in future it can easily be accesed and manupulated.
- For example:-

In [ ]:
list = [1,2,3,4,5]
tupple = (1,2,3,4,5)
dict = {1:"one",2:"two",3:"three",4:"four",5:"five"}

**2. Explain the difference between mutable and immutable data types with examples?**
- Mutable data type :- The data structures which **can be** easily manuplated after creating it.
Such as adding/removing element it,chaning the element in it
For example List,dict
- Inmutable data type :- The data structures which **can not be** manuplated after creating it once.
Such as adding/removing/changing element of it
For example string,

In [1]:
#Mutable
list = [1,2,3,4]
list.append(5)
list

[1, 2, 3, 4, 5]

In [3]:
#Inmutable
string = "Hello"
string.append("World!")
string

AttributeError: 'str' object has no attribute 'append'

**3. What are the main differences between lists and tuples in Python?**
- List uses square brackets,[]
- List is mutable(we can edit the list like adding/removing)
- Tuple uses parenthesis,()
- Tuple is inmutable(we can not edit the tuple like append/remove

In [4]:
#List
list = [1,2,3,4,5]
list.remove(5)
list

[1, 2, 3, 4]

In [5]:
#Tuple
tuple = (1,2,3,4,5)
tuple.remove(5)
tuple

AttributeError: 'tuple' object has no attribute 'remove'

**4. Describe how dictionaries store data?**
- Dictionaries store data in key:value format.
- Dictionaries uses curly braces.
- Dictionaries are mutable.
- We can find all the keys using dict.keys()
- Similarly we can find all the values usinf dict.values()

In [6]:
dict = {"GAURAV": 100, "MOHIT": 95}

In [8]:
dict.keys()

dict_keys(['GAURAV', 'MOHIT'])

In [9]:
dict.values()

dict_values([100, 95])

**5. Why might you use a set instead of a list in Python?**
- Sets have much differences over list such as:-
1. If we add the same element multiple times then it will reflect only once in the output
2. There is no indexing in set   
3. The order of the elements is random
4. The values in set can not be changed

In [36]:
set = {1,1,"Apple","Banana","Apple",4,2,6}
set

{1, 2, 4, 6, 'Apple', 'Banana'}

In [38]:
set.pop()

2

In [39]:
set[0] = 4

TypeError: 'set' object does not support item assignment

**6. What is a string in Python, and how is it different from a list?**
- String in python is a type of data structures used to store the data in it
- String is inmutable means once a string is created we can't manupulate it.
- string uses double quotation marks, (")
- List is the ordered collection of data
- List uses square brackets[]
- List is mutable means it can be manupulated after creating as needed
- FOR EXAMPLE:-

In [44]:
string = "PWSKILLS"
print(type(string))

<class 'str'>

In [47]:
string[0] = "p"

TypeError: 'str' object does not support item assignment

In [48]:
list = ["pwskills","Apple","Gaurav"]
print(type(list))

<class 'list'>

In [50]:
list[0] = "PWSKILLS"
list

['PWSKILLS', 'Apple', 'Gaurav']

**7. How do tuples ensure data integrity in Python?**
- Tuple is a type of data structure, which uses parentheses to store data. It ensures data integrity as tuples are inmutable means once created can't be manupulated after that, which maintains its integrity, this ensures that the tuple remains constant through out the code.
- Example:-

In [52]:
tuple = (1,2,3,4)
tuple.append(5)

AttributeError: 'tuple' object has no attribute 'append'

**8. What is a hash table, and how does it relate to dictionaries in Python?**
- Hash table are the data structures.
- It stores data in array format.
- The keys of dictionaries are generated into hash tales using hash function.

**9. Can lists contain different data types in Python?**
- Yes, List can store differnt types of data such as num,strings,boolean,tuples and list etc
- For example:-

In [57]:
list = [1,"PWSKILLS",True,[1,2,3],(1,2,3)]

**10. Explain why strings are immutable in Python?**
- Strings are inmutable which ensures data integrity as the output of the string remains constant.
- It also take a designated space where as in case of mutable obejcts interpreter has to give some extra space for adjustments.
- It also provides security to the coder, for example string can contain so kinds of passwords which should not be changed after creating them.
- Inmutable codes are easy to use and chances of typing mistake gets less as they can't be modified after creating it.

**11. What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries store data in key:value format which can be very useful for example creating a menu of a restaurants or may be creating a phonebook of contacts.
- Finding any element is very easy in Dictionaries, for example to find the keys we can use dict.keys().
- Mainly dictionaries are used to store huge amount of data, So that it can be accessed quickly.
- Accessing dictionaries is very fast and reading it is very simple whereas list is good for storing simple data in ordered form.
- For example

In [5]:
dict = {"GAURAV": 929792499, "MOHIT": 959302042 , "AJAY": 9482244892}
dict["MOHIT"]

959302042

In [6]:
dict.keys()

dict_keys(['GAURAV', 'MOHIT', 'AJAY'])

**12. Describe a scenario where using a tuple would be preferable over a list.**
- List is prefered when all the items are ordered and further items can be added/removed/changed
- Tuples is prefered when the items are added with an specific order and no more changes are there to make
- **For example**:-
In a bank customer came to deposit various money checks and all the recipts are made as shown,
to maintain integrity the amount should not be changed here if we use list it can be modified hence its not the safest data structure, So tuple is used as it can't be modified now.

In [5]:
Bank_statement = (45000,50000,95000)
type(Bank_statement)

tuple

In [8]:
#If someone tries to change this slip he can't as tuples are inmutable
Bank_statement[0] = 80000

NameError: name 'Bank_statement' is not defined

**13. How do sets handle duplicate values in Python?**
- If there is a duplicacy in set it will ignore the another one and will print it once only

In [10]:
set = {"apple","banana","apple","potato"}
print(set)

{'apple', 'banana', 'potato'}

**14. How does the “in” keyword work differently for lists and dictionaries?**
 - In is a membership operator
 - In keyword in LIST is used check the values
 - In keyword in DICTIONARIES is used to check for the keys
 - For example:-

In [11]:
list = [1,2,3,4,5,6]
3 in list

True

In [12]:
dict = {1:"one",2:"two",3:"three",4:"four",5:"five"}
3 in dict

True

**15. Can you modify the elements of a tuple? Explain why or why not?**
- No, elements in tuple can't be modified, as tuples are inmutable but there is a way to modify it first convert the tuple into list then modify then again convert back into tuple

In [26]:
tupley = (1,2,3,4)
print(type(tupley))
tupley.append(5)

<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
x = list(tupley)
x.append(5)
print(x)

[1, 2, 3, 4, 5]

In [36]:
tuplez = tuple(x)
tuplez

(1, 2, 3, 4, 5)

**16. What is a nested dictionary, and give an example of its use case?**
- In nested dictionary values are itself a dictionary
- For example

In [40]:
dict = {"Address": {"state": "Haryana","city": "Rohtak"}}

In [46]:
dict["Address"]["city"]

'Rohtak'

**17. Describe the time complexity of accessing elements in a dictionary?**
- On an average the time complexity of accessing element in dict is O(1), it does less effect if size of dict is too much.

**18. In what situations are lists preferred over dictionaries?**
- List is preferable where the data is stored in ordered way and frequently adding/removing/changing is used as these are easy to do in list

In [48]:
list = [1,2,3,4]
list.append(5)
list
#See how quick and easy it is.

[1, 2, 3, 4, 5]

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- As dictionaries do not maintain the order at which items are added to it
- We can't retrieve data in the exact order we entered
- There is no concept of indexing in dictionaries

In [49]:
dict = {"GAURAV": 929792499, "MOHIT": 959302042 , "AJAY": 9482244892}
dict[0]

KeyError: 0

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- Data retrieval in list is as per the index no.
- Data retrieval in dictionaries is as per accessing through keys

In [54]:
list = [1,2,3,4]
print(list[0],list[1])

1 2

In [57]:
dict = {1:"one",2:"two",3:"three",4:"four",5:"five"}
print(dict[1],dict[2])

one two

**1. Write a code to create a string with your name and print it**

In [61]:
name = "GAURAV"
print("My name is " + name)

My name is GAURAV

**2. Write a code to find the length of the string "Hello World".**

In [62]:
x = "Hello World"
print(len(x))

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [66]:
x = "Python Programming"
x[0:3]

'Pyt'

**4. Write a code to convert the string "hello" to uppercase.**

In [67]:
x = "hello"
print(x.upper())

HELLO

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?**

In [69]:
string = "I like apple"
string.replace("apple","orange")

'I like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it?**

In [73]:
list = [i for i in range(1,6)]
print(list)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]?**

In [74]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [75]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

**9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?**

In [76]:
list = ['a','b','c','d']
list[1]

'b'

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [86]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [102]:
tuple = tuple(i*100 for i in range(1,4))
tuple

(100, 200, 300)

**12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [104]:
x = ('red','green','blue','yellow')
print(x[-2])

blue

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [107]:
x = (10,20,5,15)
print(min(x))

5

**14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [108]:
a = ('dog','cat','rabbit')
a.index('cat')

1

**15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [109]:
b = ("apple","banana","kiwi")
"kiwi" in b

True

**16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [110]:
x = {"a","b","c"}
print(x)

{'c', 'b', 'a'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [111]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [112]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [115]:
x = {1,2,3}
y = {3,4,5}
print(x|y)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [116]:
x = {1,2,3}
y = {2,3,4}
print(x&y)

{2, 3}

**21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [117]:
dict = {"name":"Gaurav","age":18,"city":"Rohtak"}
print(dict)

{'name': 'Gaurav', 'age': 18, 'city': 'Rohtak'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [121]:
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [123]:
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [125]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
dict

{'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [126]:
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [128]:
list = [1,2,3,4]
tuple = (1,2,3,4)
dict = {"name":"Gaurav","age":18}
print(list,tuple,dict)

[1, 2, 3, 4] (1, 2, 3, 4) {'name': 'Gaurav', 'age': 18}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [244]:
import random
q = [random.randint(1,100) for i in range(5)]
q.sort()
print(q)

[6, 7, 10, 67, 71]

**28. Write a code to create a list with strings and print the element at the third index.**

In [245]:
list = ["GAURAV","AJAY","AMIT","MOHIT"]
list[2]

'AMIT'

**29. Write a code to combine two dictionaries into one and print the result.**

In [246]:
dict1 = {"name":"Gaurav","age":18}
dict2 = {"city":"Rohtak","state":"Haryana"}
dict1.update(dict2)
print(dict1)

{'name': 'Gaurav', 'age': 18, 'city': 'Rohtak', 'state': 'Haryana'}

**30. Write a code to convert a list of strings into a set.**

In [248]:
del set
list = ["gaurav","hello","rohtak","haryana"]
list = set(list)
print(list)

{'haryana', 'gaurav', 'rohtak', 'hello'}

### ***THANK YOU SOO MUCH,***
For spending your valuable time here,
HAVE A GOOD DAY